<div class="container">
  <h1 class="fw-bold">Edit task</h1>

  <div class="mb-3">
    <%= form_with model: @task do |f| %>
      <div class="form-group mb-2">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control"%>
      </div>

      <div class="form-group mb-4">
        <%= f.label :details %>
        <%= f.text_field :details, class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.check_box :completed, class: "form-check-input" %>
        <%= f.label :completed, class: "form-check-label" %>
      </div>

      <div class="border-bottom border-2 pb-3">
        <%= f.submit "Update Task", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <button type="button" class="btn">
    <i class="fa-solid fa-clock-rotate-left"></i>
    <%= link_to "Back to list", tasks_path, class: "text-decoration-none" %>
  </button>
</div>
